.icon-route {
  width: 42px;
  height: 42px;
  font-size: 0.75rem;
  font-weight: 700;
  flex-shrink: 0;
}

.name,
.freq {
  width: fit-content;
}

.btn-favorite {
  min-width: 20px;
  min-height: 20px;
}
