<ion-header [translucent]="true" class="header-style-1">
  <ion-toolbar class="bg-header pt-4">
    <ion-title class="title-center">
      <h1 class="text-primary fs-2 fw-semibold m-0">Proximamente</h1>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button class="text-primary" defaultHref="/home" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-octonary">
  <ion-grid class="p-0">
    <ion-row class="bg-quinary p-2">
      <ion-col size="12" class="mb-3">
        <ion-img [src]="image()" />
      </ion-col>

      <ion-col size="12">
        <ion-text>
          <p class="text-primary fs-9" [innerHTML]="description()"></p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
