<ion-item
  lines="none"
  class="bg-quinary no-padding p-3 border-radius-secondary"
>
  <div class="w-100">
    <ion-label>
      <p class="mb-3 text-primary fs-5">Idioma</p>
    </ion-label>
    <div class="w-100 d-flex align-items-center column-gap-3">
      <ion-icon name="language" color="primary" class="icon fs-3"></ion-icon>
      <ion-select
        aria-label="Idioma"
        fill="outline"
        placeholder="Selecciona un idioma"
        interface="action-sheet"
        class="select-style-1"
        [value]="language()"
      >
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Inglés</ion-select-option>
      </ion-select>
    </div>
  </div>
</ion-item>
