<ion-grid>
  <ion-row>
    <ion-col
      size="12"
      class="p-0 d-flex align-items-center justify-content-between mb-2"
    >
      <ion-text class="fs-6 text-primary fw-bold">Próximamente</ion-text>
    </ion-col>

    <ion-col
      size="12"
      class="coming-soon-banner rounded-2 d-flex flex-column justify-content-between align-items-center"
      [ngStyle]="{ 'background-image': 'url(' + image() + ')' }"
      (click)="navigateToComingSoon()"
    >
      <ion-text class="cs-label">
        Villavo Metrópolis — El futuro del transporte
      </ion-text>

      <button class="cs-btn pressable" (click)="navigateToComingSoon()">
        Conoce más
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
