<ion-header [translucent]="true">
  <ion-toolbar class="bg-header d-flex align-items-center">
    <ion-title class="title-center">
      <h1 class="text-primary fs-2 fw-semibold m-0">Comparte tu ubicación</h1>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button
        class="text-primary"
        defaultHref="/settings"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">location-sharing</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
