<ion-header [translucent]="true" class="shadow-none">
  <ion-toolbar class="bg-header pt-4">
    <ion-buttons slot="start">
      <ion-back-button
        class="text-primary"
        defaultHref="/settings"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-quinary ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-title class="p-0">
          <h1 class="text-primary fs-2 fw-semibold m-0">
            Comparte tu ubicación
          </h1>
        </ion-title>
        <ion-item class="bg-quinary ion-no-padding" lines="none">
          <ion-icon color="primary" name="location" class="me-1"></ion-icon>
          <ion-label color="primary" class="fs-9">
            Seguimiento en tiempo real
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="my-3">
        <div class="content-image">
          <ion-img [src]="imageSharing()" alt=""></ion-img>
        </div>
      </ion-col>

      <ion-col size="12" class="mb-4">
        <ion-text>
          <p class="text-secondary fs-9 mb-4">
            Activa esta función para compartir la ubicación en tiempo real de tu
            autobús con los pasajeros. Podrán seguir su autobús en el mapa y
            planificar mejor su viaje.
          </p>
        </ion-text>

        <ion-item color="secondary border-radius-secondary" lines="none">
          <ion-icon
            name="information-circle"
            color="primary"
            class="me-2"
          ></ion-icon>
          <ion-label color="primary">
            <p class="mb-0 fs-9">
              Tu ubicación sólo se comparte cuando esta función está activada.
            </p>
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12" class="mb-3">
        <app-toggle-location-sharing
          [isSharingLocation]="isSharingLocation()"
          (sharingLocationChange)="onSharingLocationChange()"
        />
      </ion-col>

      <ion-col size="12" class="mb-3">
        <ion-item class="bg-quinary ion-no-padding" lines="none">
          <ion-icon
            name="privacity"
            size="small"
            color="primary"
            class="me-2"
          ></ion-icon>
          <ion-label color="primary" class="fs-9">
            Más información sobre la privacidad y el uso de la localización
            compartida
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
