<ion-header [translucent]="true">
  <ion-toolbar class="pt-4">
    <ion-title class="title-center">
      <h1 class="text-primary fs-2 fw-semibold m-0">Configuración</h1>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button class="text-accent" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="position-relative">
  <ion-grid class="settings">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <div class="option-setting mb-3">
            <app-language-setting />
          </div>

          <div class="option-setting mb-3">
            <app-dark-mode-setting />
          </div>

          <div class="option-setting mb-3">
            <app-location-sharing-setting
              (clickChange)="navitagateToPage('/location-sharing')"
            />
          </div>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="footer position-fixed start-0 bottom-0 w-100">
      <ion-col size="12" class="p-0">
        <app-footer-settings />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
