.button-style-1 {
  --border-radius: #{$border-radius-primary};
  border-radius: $border-radius-primary;
}

.button-style-2 {
  --background: transparent;
  --box-shadow: none;
  margin: 0;
}

.button-style-3 {
  --background: transparent;
  --box-shadow: none;
  margin: 0;
  --border-radius: #{$border-radius-primary};
  color: $color-text-secondary;
}

.button-style-4 {
  --background: #{$color-quinary};
  width: 50px;
  height: 50px;
  margin: 0;
  --border-radius: 50%;
  color: $color-primary;
  .icon {
    font-size: 1.5rem;
  }
}

.button-style-5 {
  --background: #{$color-primary};
  width: 50px;
  height: 50px;
  margin: 0;
  --border-radius: 50%;
  color: $color-quinary;
  .icon {
    font-size: 1.2rem;
  }
}
