.bg-start {
  background: $color-secondary;
  --background: #{$color-secondary};
}

.bg-trasparent {
  background: transparent;
  --background: transparent;
}

.bg-quinary {
  background: $color-quinary;
  --background: #{$color-quinary};
}

.bg-octonary {
  background: $color-octonary;
  --background: #{$color-octonary};
}

.bg-header {
  background: $color-header;
  --background: #{$color-header};
}

.color-logo {
  color: $color-primary;
}

.text-primary {
  color: $color-text-primary !important;
}

.text-secondary {
  color: $color-text-secondary;
}

.text-tertiary {
  color: $color-text-tertiary;
}

.color-octonary {
  color: $color-octonary;
}

.color-favorite {
  color: $color-denary;
}

.color-favorite-active {
  color: $color-nonary;
}
