.select-style-1 {
  min-height: 44px;
  --placeholder-color: #{$color-text-tertiary};
  --border-color: var(--color-border);
  color: #{$color-text-secondary};
  --background: #{$color-bg-surface};
  border-radius: $border-radius-primary;
}

.select-wrapper-inner {
  width: 100%;
}

.action-sheet-group {
  background: $color-bg-card !important;
  .action-sheet-button {
    color: $color-text-secondary;
    background: $color-bg-card;
    &:hover {
      color: $color-text-primary !important;
      font-weight: bold;
    }
  }
}
