.fs-7 {
  font-size: $font-size-7 !important;
}

.fs-8 {
  font-size: $font-size-8 !important;
}

.fs-9 {
  font-size: $font-size-9 !important;
}
.fs-10 {
  font-size: $font-size-10 !important;
}
.fs-11 {
  font-size: $font-size-11 !important;
}
