// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #263cd1;
  --ion-color-primary-rgb: 38, 60, 209;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2135b8;
  --ion-color-primary-tint: #3c50d6;

  --ion-color-secondary: #dbeafe;
  --ion-color-secondary-rgb: 219, 234, 254;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #c1cee0;
  --ion-color-secondary-tint: #dfecfe;

  --ion-color-tertiary: #dcfce7;
  --ion-color-tertiary-rgb: 220, 252, 231;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c2decb;
  --ion-color-tertiary-tint: #e0fce9;

  --ion-color-quaternary: #e0e7ff;
  --ion-color-quaternary-rgb: 224, 231, 255;
  --ion-color-quaternary-contrast: #000000;
  --ion-color-quaternary-contrast-rgb: 0, 0, 0;
  --ion-color-quaternary-shade: #c5cbe0;
  --ion-color-quaternary-tint: #e3e9ff;

  --ion-color-quinary: #ffffff;
  --ion-color-quinary-rgb: 255, 255, 255;
  --ion-color-quinary-contrast: #000000;
  --ion-color-quinary-contrast-rgb: 0, 0, 0;
  --ion-color-quinary-shade: #e0e0e0;
  --ion-color-quinary-tint: #ffffff;

  --ion-color-senary: #f3f4f6;
  --ion-color-senary-rgb: 243, 244, 246;
  --ion-color-senary-contrast: #000000;
  --ion-color-senary-contrast-rgb: 0, 0, 0;
  --ion-color-senary-shade: #d6d7d8;
  --ion-color-senary-tint: #f4f5f7;

  --ion-color-septenary: #dc2626;
  --ion-color-septenary-rgb: 220, 38, 38;
  --ion-color-septenary-contrast: #ffffff;
  --ion-color-septenary-contrast-rgb: 255, 255, 255;
  --ion-color-septenary-shade: #c22121;
  --ion-color-septenary-tint: #e03c3c;
}

$color-primary: var(--ion-color-primary);
$color-secondary: var(--ion-color-secondary);
$color-tertiary: var(--ion-color-tertiary);
$color-quaternary: var(--ion-color-quaternary);
$color-quinary: var(--ion-color-quinary);
$color-senary: var(--ion-color-senary);
$color-septenary: var(--ion-color-septenary);
$color-octonary: #edeff2;
$color-nonary: #ffd700;
$color-denary: #bdbdbd;

$color-text-primary: #1f2937;
$color-text-secondary: #4b5563;
$color-text-tertiary: #6b7280;
$color-text-quaternary: #9ca3af;

$border-radius-primary: 0.5rem;
$border-radius-secondary: 0.75rem;
$border-radius-tertiary: 2rem;

$font-size-7: 0.85rem;
$font-size-8: 0.8rem;

$color-header: #ffffff;
