<ion-header [translucent]="true" class="header-style-1">
  <ion-toolbar class="pt-4">
    <ion-title class="title-center">
      <h1 class="text-primary fs-2 fw-semibold m-0">Detalle de la ruta</h1>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button class="text-accent" defaultHref="/routes" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @let routeLocal = route();

  <ion-grid class="p-0">
    <ion-row class="p-2">
      <ion-col size="12">
        <ion-img [src]="routeLocal?.image" class="route-hero-img" />
      </ion-col>
    </ion-row>

    <ion-row class="p-2 mb-2 bg-card">
      <ion-col size="12">
        <ion-title class="p-0">
          <h1 class="text-primary text-center fw-semibold fs-5 m-0">
            {{ routeLocal?.shortName }} - {{ routeLocal?.name }}
          </h1>
        </ion-title>
      </ion-col>
      @for (feature of routeFeatures(); track feature.id) {
      <ion-col size="6">
        <app-route-feature [feature]="feature" />
      </ion-col>
      }
    </ion-row>

    <ion-row class="p-2 mb-2 bg-card">
      <ion-col size="12">
        <p class="desc-label">DESCRIPCIÓN DE LA RUTA</p>
        <p class="desc-text">{{ routeLocal?.description }}</p>

        <ion-text class="fs-9">
          <strong class="text-tertiary">Barrios clave cubiertos: </strong>
          <span class="text-secondary">{{ keyNeighborhoods() }}</span>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="p-2 bg-card">
      <ion-col size="12">
        <app-main-button
          label="Ver los buses de esta ruta"
          iconName="map"
          (clickChange)="navigateToMapWithRoute()"
        />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
