<ion-header [translucent]="true">
  <ion-toolbar class="bg-header">
    <div class="search px-3 pt-4 pb-2">
      <app-item-search
        placeholder="Buscar ruta"
        (clickChange)="navigateToListRoutes()"
      />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-octonary">
  <ion-header collapse="condense">
    <ion-toolbar class="bg-header">
      <div class="search px-3 pb-3">
        <app-item-search
          placeholder="Buscar ruta"
          (clickChange)="navigateToListRoutes()"
        />
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="p-0 h-100 position-relative">
    <ion-row class="h-100">
      <ion-col size="12" class="p-0 h-100">
        <google-map
          #map
          width="100%"
          height="100%"
          [center]="center"
          [zoom]="zoom()"
          [options]="options"
          (mapClick)="moveMap($event); addMarker($event)"
        >
          @for (marker of markers(); track marker.position) {
          <map-advanced-marker
            [position]="marker.position || { lat: 0, lng: 0 }"
            [content]="marker.content || null"
            [options]="advancedMarkerOptions"
          />
          }
        </google-map>
      </ion-col>
    </ion-row>

    <ion-row class="filters">
      <ion-col size="12" class="p-0">
        <ion-button
          class="btn-locate button-style-4 position-absolute ion-no-padding"
        >
          <ion-icon name="locate" class="icon"></ion-icon>
        </ion-button>
        <ion-button
          class="btn-filter button-style-5 position-absolute ion-no-padding"
        >
          <ion-icon name="filter-custom" class="icon"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
