<ion-tabs>
  <ion-tab-bar slot="bottom" class="color-black">
    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      Mapa
    </ion-tab-button>

    <ion-tab-button tab="routes">
      <ion-icon name="routes"></ion-icon>
      Rutas
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="star"></ion-icon>
      Favoritos
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      Ajustes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
