<ion-header [translucent]="true">
  <ion-toolbar class="bg-header d-flex align-items-center">
    <ion-title class="title-center">
      <h1 class="text-primary fs-2 fw-semibold m-0">Detalle de la ruta</h1>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button
        class="text-primary"
        defaultHref="/routes"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-octonary">
  <ion-header collapse="condense">
    <ion-toolbar class="bg-header d-flex align-items-center">
      <ion-title size="large">
        <h1 class="text-primary text-center fs-2 fw-bold">
          Detalle de la ruta
        </h1>
      </ion-title>

      <ion-buttons slot="start">
        <ion-back-button
          class="text-primary"
          defaultHref="/routes"
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  @let routeLocal = route();

  <ion-grid class="p-0">
    <ion-row class="bg-quinary p-2">
      <ion-col size="12">
        <ion-img [src]="routeLocal.image"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="p-2 bg-quinary mb-2">
      <ion-col size="12">
        <ion-title class="p-0">
          <h1 class="text-primary text-center fw-semibold fs-5 m-0">
            {{ routeLocal.shortName }} - {{ routeLocal.name }}
          </h1>
        </ion-title>
      </ion-col>
      @for (feature of routeFeatures(); track feature.id) {
      <ion-col size="6">
        <app-route-feature [feature]="feature"></app-route-feature>
      </ion-col>
      }
    </ion-row>

    <ion-row class="p-2 bg-quinary">
      <ion-col size="12">
        <ion-text>
          <h2 class="text-primary fs-4 m-0 mb-2 fw-semibold">
            Descripción de la ruta
          </h2>
        </ion-text>

        <ion-text>
          <p class="text-primary fs-8">{{ routeLocal.description }}</p>
        </ion-text>

        <ion-text class="fs-7">
          <strong class="text-primary">Barrios clave cubiertos: </strong>
          <span class="text-primary">{{ keyNeighborhoods() }}</span>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="p-2 bg-quinary">
      <ion-col size="12">
        <app-main-button
          [label]="'Ver los buses de esta ruta'"
          iconName="map"
        ></app-main-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
