/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "variables";
@import "buttons";
@import "sizes";
@import "inputs";
@import "colors";
@import "selects";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */
/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
}

.item-style-1 {
  display: grid;
  place-content: center;
  --background: #{$color-secondary};
  background: $color-secondary;
  .icon {
    color: $color-primary;
  }
}

.border-radius-primary {
  border-radius: $border-radius-primary;
  --border-radius: #{$border-radius-primary};
}

.border-radius-secondary {
  border-radius: $border-radius-secondary;
  --border-radius: #{$border-radius-secondary};
}

.border-top-quaternary {
  border-top: 1px solid rgba($color-text-quaternary, 0.5);
}

.text-lines-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-lines-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-none {
  text-transform: none;
}

.title-center {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.tabs-style-1 {
  ion-tab-button {
    --background: #{$color-quinary};
    --color: #{$color-text-quaternary};
    --color-selected: #{$color-primary};
  }
}

.toggle-style-1 {
  &:not(.toggle-checked)::part(track) {
    background: $color-octonary;
  }
}

.toggle-style-2 {
  &:not(.toggle-checked)::part(track) {
    background: $color-denary;
  }
}

.header-style-1 {
  box-shadow: none;
  border-bottom: 2px solid #{$color-octonary};
}

ion-toast.toast-error::part(container) {
  background-color: $color-danger;
  text-align: center;
  color: white;
}

ion-toast.toast-success::part(container) {
  background-color: $color-success;
  text-align: center;
  color: white;
}

.bus-stop-marker {
  border-radius: 50%;
  padding: 8px;
  background: $color-primary;
  position: relative;
  cursor: pointer;

  div {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
}

.bus-marker {
  border-radius: 50%;
  padding: 8px;
  background: $color-septenary;
  position: relative;
  cursor: pointer;
}

.error {
  font-size: $font-size-9;
  color: $color-danger;
}
