<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mi buseta App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Buseta App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          Desde el 27 de Enero se empezo a realizar esta aplicación
        </ion-text>
        <ion-button class="d-block ion-margin-top">Ver rutas</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
