@let infoLocal = infoStart();
<ion-content [fullscreen]="true" class="bg-start ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="d-flex justify-content-center">
        <ion-thumbnail
          class="logo bg-quinary d-flex align-items-center justify-content-center border-radius-secondary"
        >
          <ion-icon name="logo" size="large" color="primary" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="12">
        <ion-title>
          <h1 class="text-center color-primary fw-bold fs-5">
            {{ infoLocal.title }}
          </h1>
        </ion-title>
        <ion-text>
          <p class="mb-0 text-center color-secondary fs-7">
            {{ infoLocal.description }}
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list class="bg-trasparent">
          @for (feature of infoLocal.features; track feature.id) {
          <app-feature-card [feature]="feature"></app-feature-card>
          }
        </ion-list>

        <ion-button
          color="primary"
          class="button-style-1 w-100 ion-padding-top ion-padding-bottom"
        >
          Continuar
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text>
          <p class="text-center color-tertiary fs-8">
            Al continuar, acepta nuestras
            <a href="" class="color-tertiary">Condiciones de servicio</a> y
            <a href="" class="color-tertiary">Política de privacidad</a>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
